name: Workflow for production

on:
  # Carry out builds on push to main
  push: 
    branches:
        - 'main'
  workflow_dispatch:
  
permissions:
  contents: write
  
jobs:
  production-ci:
    name: Perform CI flow for production
    uses: ./.github/workflows/ci.yml
    with:
      target-env: production
    secrets: inherit
    
  build:
    needs: production-ci
    name:  Build Release
    uses: ./.github/workflows/build.yml
    with:
      target-env: production
    secrets: inherit

  create-release:
    needs: build
    name: Tag Release
    uses: ./.github/workflows/release.yml
    with:
      target-env: production
    secrets: inherit
